@import "_vars.sass"

.characteristics
	margin-top: 300px
	// margin-bottom: 100px
	position: relative
	z-index: 99
	&_name
		left: 5%
		top: -10%
		position: absolute
		color: #C1C2DE
		&:before
			content: ""
			position: absolute
			border: .5px solid #C1C2DE
			width: 100px
			height: 1px
			top: 50%
			left: -105px
	&_box
		text-align: center
		&__image
			img
				width: 70%
		&__text
			margin: 10px 0
			text-align: center
			font-size: 16px
			&:before
				content: "\2022"
				color: #F2F2F7
				font-weight: bold
				font-size: 2rem
				line-height: 0
				display: inline-block
				width: 1em
				margin-left: -1em
		&__2
			margin-top: 100px
		&__3
			margin-top: 40px
		&__4
			margin-top: 10px
		&__5
			margin-top: 100px