@import "_vars.sass"
.dashboard
	&_image
		img
			width: 100%
	
.slick-dots li button:before
	color: $dark
	font-size: 40px
.slick-dots li button:focus:before, .slick-dots li button:hover:before
	color: $blue

.slick-dots li.slick-active button:before
	color: $aqua