@import "_vars.sass"

.contactos
	margin-top: 50px
	padding: 120px 0
	position: relative
	background-color: $blue
	&_name
		left: 5%
		top: 20%
		position: absolute
		color: $white
		z-index: 99
		&:before
			content: ""
			position: absolute
			border: .5px solid $white
			width: 100px
			height: 1px
			top: 50%
			left: -105px
	&_info
		&__title	
			color: $purple
			font-weight: 700
			font-size: 20px
			margin-bottom: 20px
		&__address
			font-size: 18px
			color: $dark
			margin-bottom: 10px
		&__tel
			font-size: 18px
			color: $dark
			margin-bottom: 10px
	&_emails
		margin-top: 50px
		&__title	
			color: $white
			font-size: 18px
		&__1
			margin-top: 10px
			color: $dark
		&__2
			color: $dark
	&_socials
		&__title	
			color: $purple
			font-size: 700px
			font-size: 20px
		&__links
			text-align: left
			margin-top: 20px
			&-item
				font-size: 36px
				line-height: 1.2
				margin: 0px 15px
				// background-color: $white
				color: $white
				position: relative
				z-index: 5
				transition: all .25s ease
				// &:before
				// 	content: ""
				// 	width: 50px
				// 	height: 50px
				// 	border-radius: 50%
				// 	background-color: $white
				// 	position: absolute
				// 	top: 0
				// 	left: -25%
				// 	z-index: -1
				i
					transition: all .35s ease
				&:hover
					color: lighten($purple, 5)
					
					
					
				