@import "_vars.sass"
.intro
	// height: 100vh
	margin-bottom: 100px
	margin-top: 150px
	position: relative
	&_image
		text-align: center
		margin-bottom: 10px
		img
			width: 100px
	&_title
		font-size: 58px
		text-align: center
		color: $dark
	&_description
		margin-top: 80px
		&__title
			color: $aqua
			font-size: 32px
		&__text
			color: $grey
			font-size: 20px
	&_name
		left: 5%
		top: 90%
		position: absolute
		color: #C1C2DE
		&:before
			content: ""
			position: absolute
			border: .5px solid #C1C2DE
			width: 100px
			height: 1px
			top: 50%
			left: -105px

