@import "_vars.sass"

.usecase
	margin-top: 300px
	position: relative
	&_name
		left: 5%
		top: 0%
		position: absolute
		color: #C1C2DE
		z-index: 99
		&:before
			content: ""
			position: absolute
			border: .5px solid #C1C2DE
			width: 100px
			height: 1px
			top: 50%
			left: -105px
	&_bg
		position: absolute
		right: -50%
		top: -100%
		width: 1400px
	&_image
		img
			width: 100%
	&_block
		&__btns
			text-align: center
			margin-top: 30px
		&__btn
			margin: 0px 20px
			padding: 20px 25px
			font-size: 20px
			border-radius: 5px
			color: $white
			text-decoration: none
			transition: all .4s ease
			&:hover
				text-decoration: none
				color: $white
				transform: scale(1.1)
			&-in
				background-color: $blue
				i
					background-color: $white
					color: $blue
					padding: 6px 8px
					font-weight: 200
					font-size: 16px
					border-radius: 50%
				&:hover
					background-color: darken($blue, 5)
					box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.2)
			&-dwn
				background-color: $aqua
				&:hover
					background-color: darken($aqua, 5)
					box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.2)
				